name: deploy_ec2
on:
  workflow_run:
    workflows: ["scan_push"]
    types: ["completed"]
    branches: ["main"]
  workflow_dispatch:
permissions:
  id-token: write 
  contents: write 
concurrency:
  group: ${{github.ref}}
  cancel-in-progress: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    if: ${{github.event.workflow_run.conclusion == 'success'}}
    steps:
      - name: login to aws 
        uses: aws-actions/configure-aws-credentials@v5 
        with:
          role-to-assume: ${{secrets.ROLE}}
          aws-region: ${{vars.REGION}}
      - name: download image tag 
        run: aws s3 cp s3://felix-aws-bukcet-stores/tag.txt .
      - name: load tag to local runner
        id: loadtag 
        run: echo "image_tag=$(cat tag.txt)" >> "$GITHUB_OUTPUT"
      - name: login ecr 
        uses: aws-actions/amazon-ecr-login@v2

      - name: ssh into my server 
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.PRIVATE_KEY}}
          script: |
            set -e 
            sudo bash -c "aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 862479276433.dkr.ecr.eu-north-1.amazonaws.com"
            sudo docker pull ${{steps.loadtag.outputs.image_tag}}
            sudo docker images 
            sudo docker stop myapp-web || true
            sudo docker rm -f myapp-web || true
            sudo docker run -d --name myapp-web -p 8080:8080 ${{steps.loadtag.outputs.image_tag}}
            sudo docker ps 
      